@import url('https://fonts.googleapis.com/css2?family=Lexend&family=Miniver&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&family=Righteous&display=swap');

:root {
    --light-bg: #f8f9fa;
    --dark-text: #212529;
    --login-title: #f57c6a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "poppins", sans-serif;
    padding-top: 140px;
    transition: all 0.3s ease-in-out;
}

/* navbar */
.navbar {
    background-color: var(--light-bg);
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.navbar-brand {
    font-family: 'poppins', sans-serif;
    font-weight: 500;
    color: #dc3545;
    font-size: 24px;
    transition: 0.3 color;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.nav-link {
    position: relative;
    color: #666777;
    font-weight: 500;
}

.nav-link:hover, .nav-link.active {
    color: var(--dark-text);
}

@media (min-width: 991px) {
    .nav-link::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: #f57c6a;
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    .nav-link:hover::before, .nav-link.active::before {
        width: 80%;
        visibility: visible;
    }
    
}

/* Product */
.product-card {
    background: #fff;
    border-radius: 20px;
    transition: 0.3s;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.product-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
